.particles {
  position: fixed;
  background-color: red;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body {
  text-align: center;
  font-family: "Mountains of Christmas", cursive;
  color: #fff;
}

.img-div {
  margin-top: 5rem;

  z-index: 1;
}

h1 {
  padding-top: 3%;
  font-weight: 900;
  font-size: 5rem;
}

h1:hover {
  color: #ff7878;
}

img {
  width: 40rem;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 5%;
}

.grinch {
  width: 25rem;
  border-radius: 50%;
}

.sleigh {
  padding: 3% 3%;
}

.sleigh:hover {
  color: #daa927;
}

.cane {
  padding-left: 1%;
  color: green;
}

.cane:hover {
  color: #b5ff7d;
}
.snowman {
  padding-right: 1%;
}

.snowman:hover {
  color: #e599f7;
}

@media (max-width: 700px) {
  img {
    width: 20rem;
  }
  h1 {
    font-size: 3rem;
  }
}
